# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
# YOUR CODE HERE
city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kruisfontein,ZA,-34.0033,24.7314,60.89,60,21,14.32,few clouds
1,1,Padang,ID,-0.9492,100.3543,75.25,96,100,4.00,light rain
2,2,Goderich,CA,43.7501,-81.7165,40.91,88,100,13.35,light rain
3,3,Alyangula,AU,-13.8483,136.4192,85.41,67,7,7.67,clear sky
4,4,Ouro Preto Do Oeste,BR,-10.7481,-62.2158,79.70,67,99,2.64,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
670,670,Ketchikan,US,55.3422,-131.6461,37.87,93,100,12.66,light rain
671,671,Latung,PH,5.5000,120.8833,82.67,75,98,5.10,overcast clouds
672,672,Mazagao,BR,-0.1150,-51.2894,82.45,77,31,6.20,scattered clouds
673,673,Coos Bay,US,43.3665,-124.2179,56.32,86,0,13.80,clear sky
674,674,Ziro,IN,27.6333,93.8333,40.21,92,22,2.86,few clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) 
                                  & (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
# YOUR CODE HERE
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Padang,ID,-0.9492,100.3543,75.25,96,100,4.00,light rain
3,3,Alyangula,AU,-13.8483,136.4192,85.41,67,7,7.67,clear sky
4,4,Ouro Preto Do Oeste,BR,-10.7481,-62.2158,79.70,67,99,2.64,overcast clouds
14,14,Road Town,VG,18.4167,-64.6167,80.69,89,40,8.05,scattered clouds
15,15,Pasni,PK,25.2631,63.4710,79.25,64,0,8.72,clear sky
...,...,...,...,...,...,...,...,...,...,...
658,658,Assare,BR,-6.8744,-39.8750,80.02,55,40,5.70,scattered clouds
659,659,Punta Gorda,US,26.9298,-82.0454,80.65,83,0,8.05,volcanic ash
668,668,Acapulco,MX,16.8634,-99.8901,84.02,70,0,4.61,clear sky
671,671,Latung,PH,5.5000,120.8833,82.67,75,98,5.10,overcast clouds
672,672,Mazagao,BR,-0.1150,-51.2894,82.45,77,31,6.20,scattered clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
# YOUR CODE HERE
clean_travel_cities

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Padang,ID,-0.9492,100.3543,75.25,96,100,4.00,light rain
3,3,Alyangula,AU,-13.8483,136.4192,85.41,67,7,7.67,clear sky
4,4,Ouro Preto Do Oeste,BR,-10.7481,-62.2158,79.70,67,99,2.64,overcast clouds
14,14,Road Town,VG,18.4167,-64.6167,80.69,89,40,8.05,scattered clouds
15,15,Pasni,PK,25.2631,63.4710,79.25,64,0,8.72,clear sky
...,...,...,...,...,...,...,...,...,...,...
658,658,Assare,BR,-6.8744,-39.8750,80.02,55,40,5.70,scattered clouds
659,659,Punta Gorda,US,26.9298,-82.0454,80.65,83,0,8.05,volcanic ash
668,668,Acapulco,MX,16.8634,-99.8901,84.02,70,0,4.61,clear sky
671,671,Latung,PH,5.5000,120.8833,82.67,75,98,5.10,overcast clouds
672,672,Mazagao,BR,-0.1150,-51.2894,82.45,77,31,6.20,scattered clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
# YOUR CODE HERE
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng
1,Padang,ID,75.25,light rain,-0.9492,100.3543
3,Alyangula,AU,85.41,clear sky,-13.8483,136.4192
4,Ouro Preto Do Oeste,BR,79.70,overcast clouds,-10.7481,-62.2158
14,Road Town,VG,80.69,scattered clouds,18.4167,-64.6167
15,Pasni,PK,79.25,clear sky,25.2631,63.4710
...,...,...,...,...,...,...
658,Assare,BR,80.02,scattered clouds,-6.8744,-39.8750
659,Punta Gorda,US,80.65,volcanic ash,26.9298,-82.0454
668,Acapulco,MX,84.02,clear sky,16.8634,-99.8901
671,Latung,PH,82.67,overcast clouds,5.5000,120.8833
672,Mazagao,BR,82.45,scattered clouds,-0.1150,-51.2894

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
# YOUR CODE HERE
hotel_df["Hotel Name"] = ""
# Display sample data
# YOUR CODE HERE
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Padang,ID,75.25,light rain,-0.9492,100.3543,
3,Alyangula,AU,85.41,clear sky,-13.8483,136.4192,
4,Ouro Preto Do Oeste,BR,79.70,overcast clouds,-10.7481,-62.2158,
14,Road Town,VG,80.69,scattered clouds,18.4167,-64.6167,
15,Pasni,PK,79.25,clear sky,25.2631,63.4710,
...,...,...,...,...,...,...,...
658,Assare,BR,80.02,scattered clouds,-6.8744,-39.8750,
659,Punta Gorda,US,80.65,volcanic ash,26.9298,-82.0454,
668,Acapulco,MX,84.02,clear sky,16.8634,-99.8901,
671,Latung,PH,82.67,overcast clouds,5.5000,120.8833,
672,Mazagao,BR,82.45,scattered clouds,-0.1150,-51.2894,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
# YOUR CODE HERE
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Padang,ID,75.25,light rain,-0.9492,100.3543,Mercure Padang
3,Alyangula,AU,85.41,clear sky,-13.8483,136.4192,Groote Eylandt Lodge
4,Ouro Preto Do Oeste,BR,79.70,overcast clouds,-10.7481,-62.2158,GraÃºna Resort Hotel
14,Road Town,VG,80.69,scattered clouds,18.4167,-64.6167,"ZINGARA 76ft Catamaran, full crew-all included"
15,Pasni,PK,79.25,clear sky,25.2631,63.4710,Kashmiri Hotal
...,...,...,...,...,...,...,...
658,Assare,BR,80.02,scattered clouds,-6.8744,-39.8750,JosÃ© Xavier de Andrade
659,Punta Gorda,US,80.65,volcanic ash,26.9298,-82.0454,Four Points by Sheraton Punta Gorda Harborside
668,Acapulco,MX,84.02,clear sky,16.8634,-99.8901,HS Hotsson Smart Acapulco
671,Latung,PH,82.67,overcast clouds,5.5000,120.8833,
672,Mazagao,BR,82.45,scattered clouds,-0.1150,-51.2894,Recanto dos Ferreiras

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
# Display sample data
# YOUR CODE HERE
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Padang,ID,75.25,light rain,-0.9492,100.3543,Mercure Padang
3,Alyangula,AU,85.41,clear sky,-13.8483,136.4192,Groote Eylandt Lodge
4,Ouro Preto Do Oeste,BR,79.70,overcast clouds,-10.7481,-62.2158,GraÃºna Resort Hotel
14,Road Town,VG,80.69,scattered clouds,18.4167,-64.6167,"ZINGARA 76ft Catamaran, full crew-all included"
15,Pasni,PK,79.25,clear sky,25.2631,63.4710,Kashmiri Hotal
...,...,...,...,...,...,...,...
658,Assare,BR,80.02,scattered clouds,-6.8744,-39.8750,JosÃ© Xavier de Andrade
659,Punta Gorda,US,80.65,volcanic ash,26.9298,-82.0454,Four Points by Sheraton Punta Gorda Harborside
668,Acapulco,MX,84.02,clear sky,16.8634,-99.8901,HS Hotsson Smart Acapulco
671,Latung,PH,82.67,overcast clouds,5.5000,120.8833,
672,Mazagao,BR,82.45,scattered clouds,-0.1150,-51.2894,Recanto dos Ferreiras

In [12]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [14]:
# Set the file name.
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [15]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [16]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Mercure Padang</dd>\n<dt>City</dt><dd>Padang</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>light rain and 75.25 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Groote Eylandt Lodge</dd>\n<dt>City</dt><dd>Alyangula</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>clear sky and 85.41 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>GraÃºna Resort Hotel</dd>\n<dt>City</dt><dd>Ouro Preto Do Oeste</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 79.7 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>ZINGARA 76ft Catamaran, full crew-all included</dd>\n<dt>City</dt><dd>Road Town</dd>\n<dt>Country</dt><dd>VG</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 80.69 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Kashmiri Hotal</dd>\n<dt>City</dt><dd>Pasni</dd>\n<dt>Country</dt><dd>PK</dd>\n<dt>Current Weather</dt><dd>clear sky and 79.25 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bungalow 63</dd>\n<dt>City</dt><dd>Hambantota</dd>\n<dt>Country</dt><dd>LK</dd>\n<dt>Current Weather</dt><dd>moderate rain and 77.04 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Tesoro Los Cabos</dd>\n<dt>City</dt><dd>Cabo San Lucas</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 82.62 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 78.08 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>River Downs Cottage</dd>\n<dt>City</dt><dd>Clarence Town</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>light rain and 78.62 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Flat Quatro Rodas Olinda</dd>\n<dt>City</dt><dd>Olinda</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>mist and 78.53 Â°F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [17]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1   -0.9492  100.3543
3  -13.8483  136.4192
4  -10.7481  -62.2158
14  18.4167  -64.6167
15  25.2631   63.4710
20   6.1241   81.1185
24  22.8909 -109.9124
25  -9.8000 -139.0333
26 -32.5833  151.7833
33  -8.0089  -34.8553

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [22]:
# Add a marker layer for each city to the map. 
# YOUR CODE HERE
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Create a figure to add the Google map as a layer
# YOUR CODE HERE
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Display the figure containing the map
# YOUR CODE HERE
max_temp = hotel_df["Max Temp"]
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))